body {
    font-family: 'Montserrat', helvetica;
    padding: 15px;
    background-color: #ebf2f5;
    font-size: 0.9em;
    margin: 0;
    /* border: solid 1px yellow; */
}
/* ===== HEADER * ===== */
.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
  position: relative;
  margin: 0px auto;
  text-align: center;
  vertical-align: bottom;
}
a:hover {
  opacity: 70%;
}
.header-title {
  display: flex;
  font-size: 30px;
  color: #f03356;
  font-family:"Big Shoulders Inline Text", cursive;
  font-weight: 400pt; 
  justify-content: center;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  background-color: #ebf2f5;
}
.header-nav ul {
  list-style-type: none;
}
.header-nav li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 5px;
}
.header-nav a {
  color: #f03356;
  text-decoration: none;
  font-weight: 700;
  font-size: 0.8em;
}
.header-nav a:hover {
  opacity: 60%
}
/* ===== MAIN * ===== */
.main {
  background-image: url("/img/3patrik-michalicka-r3iAqHb7JWs-unsplash.png");
  border-radius: 15px;
  width: 100%;
  position: relative;
  background-size: cover;
  margin: 0px auto;
  padding-top: 310px;
  padding-bottom: 50px;
  text-align: center;
  vertical-align: bottom;
}
.main h1{
  font-size: 50px;
  background-color: #476e7c;
  background-image:linear-gradient( #4056e2, #1d9db4);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color:transparent;
  vertical-align: bottom;
}
.main p{
  font-size: 18px;
  color:#476e7c;
}
.show h1{
  color:#476e7c;
  font-family:"Big Shoulders Inline Text", cursive;
}
.show h2{
  color:#476e7c;
  font-family:"Big Shoulders Inline Text", cursive;
  font-size: 25px;
}
.brandkit{
  border: solid 2px white;
  border-radius: 10px;
  padding: 20px;
}
.mid-text{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  line-height: 2;
  text-align: center;
  justify-content: space-evenly;
}
.companyIndex{
  border: solid 2px #476e7c;
  /* background-color: #B7AFE0; */
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  vertical-align: center;
  text-align: center;
  margin: 10px;
  padding: 20px;
}
ul {
  list-style-type: none;
  vertical-align: center;
  text-align: center;
  margin: 30px;
}
li {
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  line-height: 2;
}
.name{
  text-decoration: none;
  color: #476e7c;
}
.editbutton, .indexbutton{
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  background-color: #476e7c;
  color: white;
  padding: 4px;
  border-radius: 8px;
  margin: 5px;
  width: 6em
}
.editbutton:hover{
  opacity: 80%;
}
.deletebutton:hover{
  opacity: 80%;
}
.indexbutton:hover{
  opacity: 80%;
}
.deletebutton{
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 8px;
  margin: 5px;
  width: 6em
}
.create{
  background-color:#476e7c;
  border-radius: 5px;
  border-top: #476e7c;
  border-left: #476e7c;
  border-right: #476e7c;
  padding: 8px;
  color: #f0f1ff;
}
.create:hover{
    opacity: 90%;
}
.color-table td{
  padding: 30px;
  border: solid 2px black;
}
table{
  border-spacing: 20px;
}
.columns {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  column-gap: 30px;
  /* border: solid 1px red; */
}
.first-column {
  display: inline-block;
  justify-content: center;
  padding-top: 70px;
  text-align: center;
  align-items: center;
  border: solid 2px #476e7c;
  border-radius: 20px;
}
.first-column img{
  width: 70%;
  border-radius: 10px;
}
.second-column{
  display: inline-block;
  justify-content: center;
  padding-top: 30px;
  text-align: center;
  border: solid 2px #476e7c;
  border-radius: 20px;
} 
.second-column img{
  width: 50%;
  border-radius: 10px;

}
button{
  background-color: #476e7c;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
.new, .edit{
  align-items: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.new h1, .edit h1{
  font-size: 30px;
  color: #476e7c;
  font-family:'Big Shoulders Inline Text', cursive;
  justify-content: center;
  text-align: center;
}
.form-style{
  background-color: #abcad4;
  padding-left: 150px;
  padding-right: 150px;
  text-align: left;
  color:white;
  padding-bottom: 50px;
  border-radius: 30px;
}
.row{
  padding: 20px;
}
input[type=text]{
  min-width: 50%;
  padding:10px;
  margin: 5px 0;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: white 1px solid;
}
input[type=password]{
  min-width: 41%;
  padding:10px;
  margin: 5px 0;
  background-color: transparent;
  color:rgba(0, 0, 0, 0.5);
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: white 1px solid;
}
input[type=textarea]{
  min-width: 41%;
  padding:10px;
  margin: 5px 0;
  background-color: transparent;
  color:rgba(0, 0, 0, 0.5);
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: white 1px solid;
}
textarea{
  padding:10px;
  margin: 5px 0;
  background-color: transparent;
  color: white;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: white 1px solid;
}
.form-style input[type=submit]{
  background-color: #476e7c;
  color: white;
  padding: 10px;
  border-radius: 10px;
}
footer {
  padding-top: 20px;
}
@media screen and (max-width: 600px){
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p{
    padding-right:10px;
    padding-left:10px;
  }
  .form-style{
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
  }
}
