<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text&family=Open+Sans&display=swap" rel="stylesheet">
    <!--CSS-->
    <link href= "../css/style.css" rel="stylesheet" type="text/css" />
    <title>New User Brand Kit Form</title>
</head>
<body>
    <div class= "header">
        <div class= "header-title">
            <a href = "/"><img src="/img/noun_circle in circle_318482.png" alt="logo"></a>
            <h1>BRANDING KITS</h1>
        </div>
        <!-- navigation -->
        <div class="header-nav">
            <nav>
            <li>
                <a href="/users/new">Create a new Brand Kit</a>
            </li>
            <li>
                <a href="/users/60935693540812fadb08c556">Sample Brand Kit</a>
            </li>
            <!-- <li> -->
                <!-- <a href="/sessions/new">Log In</a> -->
            <!-- </li> -->
            </nav>
        </div>
    </div>
    <div class="new">
    <h1>Create a New Brand Kit</h1>
    <div class="form-style">
    <form action="/users" method="POST">
        <div class = row>
        <input type="text" name="username" id="username" value="Username*"/></br>
        Password* <input type="password" name="password" id="password"/></br>
        <input type="text" name="name" id="name" value="Company name*"/></br>
        <input type="text" name="brandCategory" id="brandCategory" value="Brand category*"/></br>
        <input type="text" name="typographyOne" id="typographyOne" value="Header Typography"/></br>
        <input type="text" name="typographyTwo" id="typographyTwo" value="Body Typography"/></br>
        </br>
        <em>Colors should be inputted with HEX codes</em></br>
        <input type="text" name="colorsOne" id="colorsOne" value="Primary Brand Color"/></br>
        <input type="text" name="colorsTwo" id="colorsTwo" value="Secondary Brand Color"/></br>
        <input type="text" name="colorsThree" id="colorsThree" value="Terciary Brand Color"/></br>
        </br>
        Please list a few brand Values: </br><input type="text" name="brandValues" id="brandValues" value="Brand Values"/></br>
    </br>
        <em>Images should be uploaded by URL links</em></br>
        <input type="text" name="logoImage" id="logoImage" value="Logo Image"/></br>
        <input type="text" name="moodboardImage" id="moodboardImage" value="Moodboard Image"/></br>
        <input type="text" name="socials" id="socials" value="Social Media Links (optional)"/></br>
    </br>
        Additional Notes (optional): </br><textarea type="textarea" name="notesEntry" id="notesEntry"></textarea></br>
    </br>
</br>
        <input type="submit" value="Create Brand Kit"/>
    </div>
    </form>
    </div>
    </div>
</body>
<footer>
    <h6>Created by Maria Mergal for SEI Flex: Git that bread.</h6>
</footer>
</html>

